body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .menu li a:hover {
    background-color: #eee;
  }
  
  section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    color: #000;
  }
  
  #home {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  
  .hero-point {
    flex-basis: 30%;
  }
  
  .hero-title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #FF5841; /* Sunset orange */
    text-shadow: 1px 2px 2px #C53678; /* Red-violet shadow with offset */
  }
  
  .tagline {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a148c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #5c0c93;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    font-size: 1rem; /* Smaller font size for the contact information */
    text-align: left; /* Align the contact information to the left */
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-content ul li {
    margin-bottom: 5px; /* Adjust the space between each contact detail */
  }
  .linkedin-logo {
    width: 30px; /* Adjust the width of the logo as needed */
    height: 30px; /* Adjust the height of the logo as needed */
    margin-top: 10px; /* Adjust the vertical spacing of the logo */
    transition: filter 0.3s ease;
  }
  
  .linkedin-logo:hover {
    filter: brightness(120%); /* Apply a hover effect to change the color */
  }
  
  